#data-panel {
    background-color: rgb(25, 25, 25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.data-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100% - 1rem);
}