#App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

#loading-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

#bottom-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

:root {
  --primary: #9d53fc;
  --secondary: #242424;
}